@import './design-variables.module';
@import "./mixins";

.content {
    position: relative;
    display: flex;
    width: 100%;
    max-height: 700px;
    background-color: $tertiary_color;
    img {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .title-container {
        position: absolute;
        bottom: 0;
        width: calc(100% - 20px);
        display: flex;
        justify-content: space-between;
        align-items: center;
        padding: 10px;
        color: white;
        background: rgba(0, 0, 0, 0)
            linear-gradient(
                to bottom,
                rgba(0, 0, 0, 0) 10%,
                rgba(0, 0, 0, 0.1) 25%,
                rgba(0, 0, 0, 0.4) 50%,
                rgba(0, 0, 0, 0.6) 100%
            )
            repeat scroll 0 0;

        div {
            width: 100px;
            height: 50px;
            display: flex;
            flex-direction: column;
            justify-content: center;
            white-space: nowrap;
            overflow: hidden;
            text-overflow: ellipsis;
            font-weight: bold;
        }
    }

    .title-heart-container {
        background-color: transparent;
        border: 0;
        outline: none;
        cursor: pointer;
    }
}

.skeleton {
    flex: 1;
    display: flex;
    span {
        flex: 1;
    }
}


