@import "./design-variables.module";

html,
body {
    max-width: 100vw;
    min-height: 100vh;
    overflow-x: hidden;
    scroll-behavior: smooth;
}

body {
    margin: 0;
    background-color: $background_color;
}

html,
button,
input,
select,
textarea {
    font-family: $normalized_font_family;
}

a {
    color: $link_color;
    text-decoration: none;
    background: transparent;
    &:focus {
        outline: none;
    }
    &:hover,
    &:active {
        outline: 0;
    }
}

::-webkit-scrollbar {
    width: 10px;
}

/* Track */
::-webkit-scrollbar-track {
    background: $background_color;
}

/* Handle */
::-webkit-scrollbar-thumb {
    background: $scrollbar_color;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
    background: $scrollbar_hover_color;
}
