@import "../styles/mixins";

.container {
    width: 100%;
    display: flex;
    flex-direction: column;
    align-items: center;
    padding-bottom: 60px;
}

@include tablet() {
    .container {
        padding: 60px 0;
    }
}

@include laptop() {
    .container {
        padding: 60px 0;
    }
}

@include desktop() {
  .container {
      padding: 60px 0;
  }
}
